.loader-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
}


.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
}

.line {
  position: absolute;
  bottom: 0;
  width: 8px;
  border-radius: 5px;
  background: linear-gradient(to bottom, hsl(44, 88%, 50%), hsl(251, 30%, 35%));
}

.line1 {
  left: 0;
  -webkit-animation: line-grow 0.5s ease alternate infinite;
  animation: line-grow 0.5s ease alternate infinite;
}

.line2 {
  left: 20px;
  -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
  animation: line-grow 0.5s 0.2s ease alternate infinite;
}

.line3 {
  left: 40px;
  -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
  animation: line-grow 0.5s 0.4s ease alternate infinite;
}

@-webkit-keyframes line-grow {
  0% {
    height: 0;
  }

  100% {
    height: 75%;
  }
}

@keyframes line-grow {
  0% {
    height: 0;
  }

  100% {
    height: 75%;
  }
}